/* CSS GRID cart page
-------------*/
body {
    min-height: 100vh;
    display: grid;
    grid-gap: 10px;
    padding: 10px;
    grid-template-areas: 
    'header'
    'aside'
    'main'
    'footer'
    ;
}
aside {
    display: grid;
    grid-gap: 10px;
    padding: 10px;
    grid-template-areas: 
    'aside-section-one'
    'aside-section-two'
    ;
}

article {
    display: none;
}

header{grid-area: header;}
aside{grid-area: aside;}
.aside-section:nth-child(1){grid-area: aside-section-one;}
.aside-section:nth-child(2){grid-area: aside-section-two;}
main{grid-area: main;}
article {grid-area: article;}
.article-section:nth-child(1){grid-area: article-section-one;}
.article-section:nth-child(2){grid-area: article-section-two;}
.article-section:nth-child(3){grid-area: article-section-three;}
.article-section:nth-child(4){grid-area: article-section-four;}
footer{grid-area: footer;}

article {
    border: 2px solid #48736F;
    padding: 5px 15px 5px 10px;
    max-width: 350px;
}


/* Banner styling
-------------*/
.cart-banner {
    background-image: url(../images/all-jackets-banner.jpg);
}
.banner-name {
    margin: 0 0 0 10px;
    padding-top: 80px;
    color: #f2ece9;
    font-size: 1.8em;
    font-weight: 400;
}

.cart-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.quantity-container {
    border: 1px solid #657351;
    padding: 0 10px;
    margin-left: 40px;
}
.colour-size-container {
    display: flex;
    align-items: center;
    margin-left: 40px;
}
.fa-circle {
    padding-right: 5px;
}
.total-price-container {
    border-top: 2px solid #657351;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.cart-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}


/* Media Queries
-------------*/
/* Tablet and smaller screen sizes-------------*/
@media(min-width: 641px){
    body {
        min-height: 100vh;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 2fr 1fr;
        grid-template-areas: 
        'header header'
        'aside aside'
        'main article'
        'main article'
        'footer footer'
        ;
    }
    article {
        display: grid;
        grid-gap: 10px;
        grid-template-areas: 
        'article-section-one'
        'article-section-two'
        'article-section-three'
        'article-section-four'
        ;
    }
}
/*  Desktop screen sizes-------------*/
@media(min-width: 801px){
    .banner-name {
        padding-top: 120px;
    }
}
/* Extra Large Screens-------------*/
