/* CSS GRID checkoutpage
-------------*/
body {
  min-height: 100vh;
  display: grid;
  grid-gap: 10px;
  padding: 10px;
  grid-template-areas:
    "header"
    "main"
    "footer";
}
header {
  grid-area: header;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
}

/* Banner styling
-------------*/
.checkout-banner {
  background-image: url(../images/all-jackets-banner.jpg);
}

/* Form styling
-------------*/
legend {
  font-size: 1.4rem;
  font-weight: 600;
}

.total-form {
  margin: 4rem 0;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="month"],
select {
  width: 99%;
  margin-top: 2px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #48736f;
}
input[type="radio"] {
  float: left;
}

label {
  display: block;
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

.radio-label {
  margin-top: 0;
}

.new-address-form {
  display: none;
}

.form-flex-container {
  display: flex;
  flex-wrap: wrap;
}

.radio-flex-container,
.expiry-container {
  display: flex;
  justify-content: space-between;
}

.radio-container {
  display: flex;
  width: 50%;
}

.month-container,
.year-container {
  display: block;
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.form-validation {
  display: none;
  font-size: 2rem;
  text-align: center;
}

/* Error code styling
-------------*/
.form-error {
  display: none;
  color: red;
  font-size: 1.1rem;
  margin-bottom: 1rem;
  padding-top: 0;
}

/* Media Queries
-------------*/
/* Tablet and smaller screen sizes-------------*/

/*  Desktop screen sizes-------------*/

/* Extra Large Screens-------------*/
