/* CSS GRID Jacketspage
-------------*/
body {
  min-height: 100vh;
  display: grid;
  grid-gap: 10px;
  padding: 10px;
  grid-template-areas:
    "header"
    "aside"
    "main"
    "footer";
}
header {
  grid-area: header;
}
aside {
  grid-area: aside;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
}

/* Banner styling
-------------*/
.contact-banner {
  background-image: url(../images/contact-us-banner-mobile.jpg);
}

/* content styling
-------------*/
.contact-page-container {
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-info-text {
  font-size: 1.2em;
  display: inline-flex;
  align-items: baseline;
  margin-top: 0;
}
.icon-info-container {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 2rem;
}
main a {
  color: #48736f;
  text-decoration: none;
}
main a:hover {
  color: #0a3641;
}

.contact-icon {
  font-size: 3rem;
  float: left;
}

/* contact form styling
------------------*/

.contact-page-container {
  display: flex;
  justify-content: space-between;
}

legend {
  font-size: 1.4rem;
}

.input-styling {
  width: 95%;
  margin-top: 2px;
  font-size: 16px;
  border: 2px solid #48736f;
  padding: 10px;
}

label {
  display: block;
  margin-top: 1rem;
  font-size: 1.2rem;
}

textarea {
  height: 100px;
  width: 100%;
  border: 2px solid #48736f;
  padding: 10px 0;
}

.form-error {
  display: none;
  color: red;
  font-size: 1.2rem;
  margin-top: 2px;
}

.validation-message {
  display: none;
  color: green;
  font-size: 1.2rem;
  width: 400px;
}

/* Media Queries
-------------*/
/* Tablet and smaller screen sizes-------------*/
@media (min-width: 641px) {
  .contact-banner {
    background-image: url(../images/contact-us-banner.jpg);
  }
  .icon-info-container {
    margin: 0;
  }
  .contact-info-container {
    width: 40%;
  }
}
/*  Desktop screen sizes-------------*/

/* Extra Large Screens-------------*/
