.fit-anchor,
.size-anchor,
.colour-anchor,
.star-anchor {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 5px 50px 5px 10px;
  border: 2px solid #48736f;
}

.fit-anchor:after,
.size-anchor:after,
.colour-anchor:after,
.star-anchor:after {
  position: absolute;
  content: "";
  border-left: 2px solid #48736f;
  border-top: 2px solid #48736f;
  padding: 5px;
  right: 10px;
  top: 20%;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

ul {
  padding: 2px;
  display: none;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
}

li {
  list-style: none;
}

.fit-check-list.visible .fit-anchor,
.size-check-list.visible .size-anchor,
.colour-check-list.visible .colour-anchor,
.star-check-list.visible .star-anchor {
  color: #48736f;
}

.fit-check-list.visible .fit-items,
.size-check-list.visible .size-items,
.colour-check-list.visible .colour-items,
.star-check-list.visible .star-items {
  display: block;
}

.filterbar-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 1.2em;
  padding: 0 5px;
}
