/* CSS GRID Indexpage
-------------*/
body {
  min-height: 100vh;
  display: grid;
  grid-gap: 10px;
  padding: 10px;
  grid-template-areas:
    "header"
    "main"
    "footer";
}
main {
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
    "home-section-one"
    "home-section-two"
    "home-section-three"
    "home-section-four"
    "home-section-five"
    "home-section-six";
}

header {
  grid-area: header;
}
main {
  grid-area: main;
}
.home-section:nth-child(1) {
  grid-area: home-section-one;
}
.home-section:nth-child(2) {
  grid-area: home-section-two;
}
.home-section:nth-child(3) {
  grid-area: home-section-three;
}
.home-section:nth-child(4) {
  grid-area: home-section-four;
}
.home-section:nth-child(5) {
  grid-area: home-section-five;
}
.home-section:nth-child(6) {
  grid-area: home-section-six;
}

footer {
  grid-area: footer;
}
.footer-section:nth-child(1) {
  grid-area: footer-section-one;
}
.footer-section:nth-child(2) {
  grid-area: footer-section-two;
}
.footer-section:nth-child(3) {
  grid-area: footer-section-three;
}

/* Banner img styling
-------------*/
.slogan-banner {
  background-image: url(../images/Slogan-header-image-small.jpg);
  opacity: 0.5;
}

/* Jacket page links styling
-------------*/
.jackets-button {
  background-image: url(../images/all-jackets-background.jpg);
  min-width: 300px;
  max-width: 1300px;
}
.womens-button,
.mens-button {
  min-width: 300px;
  max-width: 600px;
}
.product-img {
  width: 100%;
  border: 2px solid #48736f;
  margin: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.product-page-links {
  font-size: 1.5em;
  text-decoration: none;
  color: #48736f;
  padding: 0;
}
.product-page-links:hover {
  text-decoration: underline;
}
.link-name {
  margin: 0;
  padding-top: 45px;
}
.top-rated-title {
  margin-bottom: 0;
}
/* Media Queries
-------------*/
/* Tablet and smaller screen sizes-------------*/
@media (min-width: 641px) {
  main {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "home-section-one home-section-one"
      "home-section-two home-section-two"
      "home-section-three home-section-four"
      "home-section-five home-section-five"
      "home-section-six home-section-six";
  }

  .top-rated {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  .slogan-banner {
    background-image: url(../images/Slogan-header-image.jpg);
  }
  .jacket-pages-button {
    height: 160px;
  }
  .link-name {
    padding-top: 55px;
  }
}
/*  Desktop screen sizes-------------*/
@media (min-width: 801px) {
  .top-rated {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
}

/* 
-------------*/
/* 
-------------*/
