/* CSS GRID Jacketspage
-------------*/
body {
  min-height: 100vh;
  display: grid;
  grid-gap: 10px;
  padding: 10px;
  grid-template-areas:
    "header"
    "main"
    "footer";
}
main {
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
    "home-section-one"
    "home-section-two"
    "home-section-three"
    "home-section-four";
}

header {
  grid-area: header;
}
main {
  grid-area: main;
}
.home-section:nth-child(1) {
  grid-area: home-section-one;
}
.home-section:nth-child(2) {
  grid-area: home-section-two;
}
.home-section:nth-child(3) {
  grid-area: home-section-three;
}
.home-section:nth-child(4) {
  grid-area: home-section-four;
}
footer {
  grid-area: footer;
}

/* Buttons and links styling
-------------*/
.womens-button,
.mens-button {
  height: 100px;
}
.jackets-button {
  background-image: url(../images/all-jackets-banner.jpg);
}
.product-page-links {
  text-decoration: none;
  color: #48736f;
  padding: 0;
}
.product-page-links:hover {
  text-decoration: underline;
}
.link-name {
  margin: 0 10px;
  padding-top: 32px;
}

/* Media Queries
-------------*/
/* Tablet and smaller screen sizes-------------*/
@media (min-width: 641px) {
  main {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "home-section-one home-section-two"
      "home-section-three home-section-three"
      "home-section-four home-section-four";
  }

  .jackets-button {
    height: 240px;
  }
}
/*  Desktop screen sizes-------------*/
@media (min-width: 801px) {
}
/* Extra Large Screens-------------*/

/* 
-------------*/
/* 
-------------*/
