/* CSS GRID Product page
-------------*/
body {
  min-height: 100vh;
  display: grid;
  grid-gap: 10px;
  padding: 10px;
  grid-template-areas:
    "header"
    "aside"
    "main"
    "footer";
}
main {
  display: grid;
  grid-gap: 10px;
  padding: 10px;
  grid-template-areas:
    "home-section-one"
    "home-section-two"
    "home-section-three"
    "home-section-seven"
    "home-section-eight"
    "home-section-four"
    "home-section-five"
    "home-section-six";
}
header {
  grid-area: header;
}
aside {
  grid-area: aside;
}
main {
  grid-area: main;
}
.home-section:nth-child(1) {
  grid-area: home-section-one;
}
.home-section:nth-child(2) {
  grid-area: home-section-two;
}
.home-section:nth-child(3) {
  grid-area: home-section-three;
}
.home-section:nth-child(4) {
  grid-area: home-section-four;
}
.home-section:nth-child(5) {
  grid-area: home-section-five;
}
.home-section:nth-child(6) {
  grid-area: home-section-six;
}
.home-section:nth-child(7) {
  grid-area: home-section-seven;
}
.home-section:nth-child(8) {
  grid-area: home-section-eight;
}
footer {
  grid-area: footer;
}
.footer-section:nth-child(1) {
  grid-area: footer-section-one;
}
.footer-section:nth-child(2) {
  grid-area: footer-section-two;
}
.footer-section:nth-child(3) {
  grid-area: footer-section-three;
}

/* Product img, name & info styling (grid view on jacket pages)
-------------*/
.best-seller-img {
  max-width: 685px;
  min-width: 300px;
}
.jacket-name {
  font-size: 1.8em;
}
.title-price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.review-header,
.contact-info-text {
  display: inline-block;
}
.reviews-menu {
  padding-left: 40px;
}
.reviews-container,
#reviews-menu {
  display: none;
}
.fa-angle-down:active {
  transform: rotate(180deg);
}
#reviews-menu:checked ~ .reviews-container {
  display: block;
}
main a {
  color: #0a3641;
  text-decoration: none;
}
main a:hover {
  color: #48736f;
}

/* Form Styling
-------------*/
.form-input {
  display: inline-block;
}
.button {
  float: right;
}

/* Add to Cart overlay Styling
-------------*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
}

.modal.is-visible {
  visibility: visible;
  opacity: 1;
}

.modal-dialog {
  position: relative;
  max-width: 800px;
  max-height: 80vh;
  background: #f2ece9;
  overflow: auto;
  cursor: default;
}

.modal-dialog > * {
  padding: 1rem;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #48736f;
  font-size: 1.5rem;
  color: #f2ece9;
}

.cart-img {
  display: block;
  border: 2px solid #48736f;
  width: 100%;
  margin-top: 10px;
}

.cart-container-title {
  border-bottom: 2px solid #48736f;
  font-size: 1.5em;
  text-transform: uppercase;
}
.jacket-name-cart {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  font-size: 1.5em;
  text-transform: uppercase;
  height: 20px;
}
.colour-name-cart {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  font-size: 1.1em;
  margin-bottom: 10px;
  height: 20px;
}
.stk-price-cart {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 1.3em;
  margin-bottom: 10px;
  padding-left: 5px;
}
.button-container-cart {
  border-top: 2px solid #48736f;
  font-size: 1.2em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Media Queries
-------------*/
/* Tablet and smaller screen sizes-------------*/
@media (min-width: 641px) {
  main {
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
      "home-section-one home-section-one"
      "home-section-two home-section-three"
      "home-section-four home-section-five"
      "home-section-six home-section-six"
      "home-section-seven home-section-eight";
  }
}
/*  Desktop screen sizes-------------*/
@media (min-width: 801px) {
  main {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-areas:
      "home-section-one home-section-one home-section-one"
      "home-section-two home-section-two home-section-three"
      "home-section-four home-section-five home-section-six"
      "home-section-seven home-section-eight home-section-six"
      "zero zero home-section-six";
  }
}
/* Extra Large Screens-------------*/

/* 
-------------*/
/* 
-------------*/
