/* CSS GRID Jacketspage
-------------*/
body {
    min-height: 100vh;
    display: grid;
    grid-gap: 10px;
    padding: 10px;
    grid-template-areas: 
    'header'
    'main'
    'aside'
    'footer'
    ;
}
main {
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 
    'home-section-one'
    'home-section-two'
    ;
}
aside {
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 
    'aside-section-one'
    'aside-section-two'
    'aside-section-three'
    'aside-section-four'
    'aside-section-five'
    'aside-section-six'
    'aside-section-seven'
    'aside-section-eight'
    'aside-section-nine'
    ;
}
header{grid-area: header;}
main{grid-area: main;}
.home-section:nth-child(1){grid-area: home-section-one;}
.home-section:nth-child(2){grid-area: home-section-two;}
aside{grid-area: aside;}
.aside-section:nth-child(1){grid-area: aside-section-one;}
.aside-section:nth-child(2){grid-area: aside-section-two;}
.aside-section:nth-child(3){grid-area: aside-section-three;}
.aside-section:nth-child(4){grid-area: aside-section-four;}
.aside-section:nth-child(5){grid-area: aside-section-five;}
.aside-section:nth-child(6){grid-area: aside-section-six;}
.aside-section:nth-child(7){grid-area: aside-section-seven;}
.aside-section:nth-child(8){grid-area: aside-section-eight;}
.aside-section:nth-child(9){grid-area: aside-section-nine;}
footer{grid-area: footer;}

/* Title Banner styling
-------------*/
.womens-button {
  background-image: url(../images/womens-jackets-banner-mobile.jpg);
  font-size: 1.5em;
  color: #f2ece9;
}
.banner-name {
    margin: 0;
    padding: 70px 0 0 10px;
}

/* Jacket page links styling
-------------*/
.product-page-links {
    text-decoration: none;
    color: #48736F;
    padding: 0;
    width: 200px;
}
.product-page-links:hover {
    text-transform: uppercase;
}
.back-arrow {
    float: left;
    font-size: 1.5em;
    padding: 0 10px 0 0;
}

/* Media Queries
-------------*/
/* Tablet and smaller screen sizes-------------*/
@media(min-width: 641px){
    main {
        display: grid;
        grid-gap: 20px;
        grid-template-areas: 
        'home-section-one'
        'home-section-two'
        ;
    }
    aside {
        display: grid;
        grid-gap: 20px;
        grid-template-areas: 
        'aside-section-one aside-section-two'
        'aside-section-three aside-section-four'
        'aside-section-five aside-section-six'
        'aside-section-seven aside-section-eight'
        'aside-section-nine zero'
        ;
    }
    .womens-button {
        background-image: url(../images/womens-jackets-banner.jpg);
        height: 240px;
    }
    .banner-name {
        padding-top: 90px;
    }
}
/*  Desktop screen sizes-------------*/
@media(min-width: 801px){
    aside {
        display: grid;
        grid-gap: 20px;
        grid-template-areas: 
        'aside-section-one aside-section-two aside-section-three'
        'aside-section-four aside-section-five aside-section-six'
        'aside-section-seven aside-section-eight aside-section-nine'
        ;
    }
}
/* Extra Large Screens-------------*/

/* 
-------------*/
/* 
-------------*/