/* CSS GRID Jacketspage
-------------*/
body {
  min-height: 100vh;
  display: grid;
  grid-gap: 10px;
  padding: 10px;
  grid-template-areas:
    "header"
    "main"
    "footer";
}
main {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "home-section-one"
    "home-section-two"
    "home-section-three"
    "home-section-four";
}

header {
  grid-area: header;
}
main {
  grid-area: main;
}
.home-section:nth-child(1) {
  grid-area: home-section-one;
}
.home-section:nth-child(2) {
  grid-area: home-section-two;
}
.home-section:nth-child(3) {
  grid-area: home-section-three;
}
.home-section:nth-child(4) {
  grid-area: home-section-four;
}

footer {
  grid-area: footer;
}

/* Title Banner styling
-------------*/
.womens-button {
  background-image: url(../images/womens-jackets-banner-mobile.jpg);
  color: #f2ece9;
}

/* Jacket page links styling
-------------*/
.product-page-links {
  text-decoration: none;
  color: #48736f;
  padding: 0;
  width: 200px;
}
.product-page-links:hover {
  text-decoration: underline;
}
.back-arrow {
  float: left;
  font-size: 1.5em;
  padding: 0 10px 0 0;
}
.product-img {
  width: 100%;
  border: 2px solid #48736f;
  margin: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.products {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px;
}

/* Media Queries
-------------*/
/* Tablet and smaller screen sizes-------------*/
@media (min-width: 641px) {
  main {
    display: grid;
    grid-gap: 30px;
    grid-template-areas:
      "home-section-one"
      "home-section-two"
      "home-section-three"
      "home-section-four";
  }

  .womens-button {
    background-image: url(../images/womens-jackets-banner.jpg);
    height: 240px;
  }
  .products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
}
/*  Desktop screen sizes-------------*/
@media (min-width: 801px) {
  .products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
  }
}
/* Extra Large Screens-------------*/

/* 
-------------*/
/* 
-------------*/
