/*DIN Condensed Light
font-family: din-condensed, sans-serif;
font-weight: 300;
font-style: normal;*/

/*DIN Condensed Regular
font-family: din-condensed, sans-serif;
font-weight: 400
font-style: normal;*/

/* General Styles
---------------*/
body {
    font-family: 'din-condensed', sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #0a3641;
    background-color: #F2ECE9;
}
/* Nav styling
-------------*/
header {
    background: #F2ECE9;
    min-height: 100px;
}
.logo {
    max-width: 200px;
}
nav, #hamburger-menu, #search-menu {
    display: none;
}
nav ul {
    padding: 0;
}
nav li {
    display: block;
}
nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4em;
    font-weight: 400;
    color: #0a3641;
    padding: 10px;
    display: block;
}
nav a:hover {
    color: #F2ECE9;
    background-color: #48736F;
}
.current {
    text-decoration: underline;
}
.hamburger-label {
    float: left;
    color: #0a3641;
    padding: 10px;
    font-size: 1.5em;
    display: block;
}
#hamburger-menu:checked ~ nav {
    display: block;
}
.search-label {
    float: right;
    color: #0a3641;
    padding: 10px;
    font-size: 1.5em;
    display: block;    
}

/* Search Box
-------------*/
.searchbox {
    display: none;
    flex: 1;
}
form.searchbox button {
    float: right;
    width: 40px;
    padding: 10px;
    background: #f2ece9;
    color: #48736F;
    font-size: 16px;
    border: 1px solid #48736F;
    cursor: pointer;
}
form.searchbox input[type=text] {
    float: right;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #48736F;
    width: 200px;
    background: #f2ece9;
}
form.searchbox button:hover {
    color: #f2ece9;
    background: #48736F;
}

/* Banner styling
-------------*/
.page-banner {
    display: flex;
    background-position: center;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Button styling
-------------*/
.button {
    background-color: #48736F;
    border: 2px solid #F2ECE9;
    border-radius: 18px;
    color: #F2ECE9;
    font-size: 1.5em;
    padding: 5px 30px;
    text-align: center;
    text-decoration: none;
    margin: 2px;
    cursor: pointer;
  }
.button:hover {
    background-color: #F2ECE9;
    border: 2px solid #0a3641;
    color: #0a3641;    
}

.jacket-pages-button {
    border: 2px solid #48736F;
    background-position: center;
    height: 140px;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: right;
}
.womens-button {
    background-image: url(images/womens-jackets-background.jpg);
  }
  .mens-button {
    background-image: url(images/mens-jackets-background.jpg);
  }

/* Product name and info styling
-------------*/
.name-reviews-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}
.colours-button-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}
.jacket-name {
    margin: 0;
    font-size: 1.5em;
    text-transform: uppercase;
    flex-grow: 2;
}
.reviews-tag {
    margin: 0;
}
.reviews-tag::before{
    content: '(';
}
.reviews-tag::after{
    content: ')';
}
.colours-tag {
    font-size: 1.2em;
}
.star-container {
    display: inline-block;
}
.colour-container {
    flex-grow: 2;
    padding-left: 5px;
}
.fa-star {
    color: #657351;
}

/* Product colour swatches
-------------*/
.winter-shell-swatch-1 {
    color: #8F1119;
}
.winter-shell-swatch-2 {
    color: #0A3641;
}
.winter-shell-swatch-3 {
    color: #BBB5B3;
}



/* Media Queries
-------------*/
/* Tablet and smaller screen sizes-------------*/

/*  Desktop screen sizes-------------*/
@media(min-width: 801px){
    .logo {
        float: left;
        margin-left: 0;
    }
    nav {
        display: inline-block;
    }
    .hamburger-label {
        display: none;
    }
    .search-label {
        display: none;
    }
    nav {
        display: flex;
        justify-content: flex-end;
    }
    nav ul {
        display: flex;
        align-items: center;
    }
    nav li {
        display: inline-block;
    }
    nav a {
        font-size: 1.6em;
        padding: 20% 40px;
    }
    .searchbox {
        float: right;
        display: block;
    }
    .page-banner {
        height: 300px;
    }
    
}
/* Extra Large Screens-------------*/
@media only screen and (min-width: 1281px) {
    body {
      margin: 0 17%;
    }
}
/* 
-------------*/
/* 
-------------*/