/* CSS GRID Indexpage
-------------*/
body {
    min-height: 100vh;
    display: grid;
    grid-gap: 10px;
    padding: 10px;
    grid-template-areas: 
    'header'
    'main'
    'aside'
    'footer'
    ;
}
main {
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 
    'home-section-one'
    'home-section-two'
    'home-section-three'
    'home-section-four' 
    'home-section-five'
    ;
}
aside {
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 
    'aside-section-one'
    'aside-section-two'
    'aside-section-three'
    'aside-section-four'
    'aside-section-five'
    'aside-section-six'
    'aside-section-seven'
    ;
}

header{grid-area: header;}
main{grid-area: main;}
.home-section:nth-child(1){grid-area: home-section-one;}
.home-section:nth-child(2){grid-area: home-section-two;}
.home-section:nth-child(3){grid-area: home-section-three;}
.home-section:nth-child(4){grid-area: home-section-four;}
.home-section:nth-child(5){grid-area: home-section-five;}
.button-section-all:nth-child(1){grid-area: button-section-all-one;}
.button-section-all:nth-child(2){grid-area: button-section-all-two;}
.button-section-all:nth-child(3){grid-area: button-section-all-three;}
.button-section-all:nth-child(4){grid-area: button-section-all-four;}
aside{grid-area: aside;}
.aside-section:nth-child(1){grid-area: aside-section-one;}
.aside-section:nth-child(2){grid-area: aside-section-two;}
.aside-section:nth-child(3){grid-area: aside-section-three;}
.aside-section:nth-child(4){grid-area: aside-section-four;}
.aside-section:nth-child(5){grid-area: aside-section-five;}
.aside-section:nth-child(6){grid-area: aside-section-six;}
.aside-section:nth-child(7){grid-area: aside-section-seven;}
footer{grid-area: footer;}


/* Banner and Button styling
-------------*/
.slogan-banner {
    display: flex;
    background-image: url(images/Slogan-header-image-small.jpg);
    background-position: center;
    background-color: #48736F;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .jackets-button {
    border: 2px solid #48736F;
    background-image: url(images/all-jackets-banner.jpg);
    background-position: center;
    background-color: #48736F;
    height: 140px;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: right;  
  }
  .womens-button {
    border: 2px solid #48736F;
    background-image: url(images/womens-jackets-background.jpg);
    background-position: center;
    background-color: #48736F;
    height: 140px;
    min-width: 300px;
    max-width: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: right;
  }
  .mens-button {
    border: 2px solid #48736F;
    background-image: url(images/mens-jackets-background.jpg);
    background-position: center;
    background-color: #48736F;
    height: 140px;
    min-width: 300px;
    max-width: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: right;
  }

/* Best Seller link styling
-------------*/
.aside-section {
    width: 100%;
    height: 100%;
}
.bs-img {
    border: 2px solid #48736F;
    width: 100%;
    height: 80%;
    margin: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.jacket-name {
    margin: 0;
    display: inline-block;
}
.price-tag {
    margin: 0;
    display: inline-block;
}
/* Media Queries
-------------*/
/* Tablet and smaller screen sizes-------------*/
@media(min-width: 641px){
    .logo {
        margin-left: 30%;
    }
    main {
        display: grid;
        grid-gap: 20px;
        grid-template-areas: 
        'home-section-one home-section-one'
        'home-section-two home-section-two'
        'home-section-three home-section-three'
        'home-section-four home-section-five'
        ;
    }
    aside {
        display: grid;
        grid-gap: 20px;
        grid-template-areas: 
        'aside-section-one aside-section-one'
        'aside-section-two aside-section-three'
        'aside-section-four aside-section-five'
        'aside-section-six aside-section-seven'
        ;
    }
    .slogan-banner {
        background-image: url(images/Slogan-header-image.jpg);
        height: 300px;
    }
    .jackets-button {
        height: 200px;
    }
    .womens-button {
        height: 160px;
    }
    .mens-button {
        height: 160px;
    }
}
/*  Desktop screen sizes-------------*/
@media(min-width: 801px){
    .logo {
        float: left;
        margin-left: 0;
    }
    nav {
        display: inline-block;
    }
    .hamburger-label {
        display: none;
    }
    .search-label {
        display: none;
    }
    nav {
        display: flex;
        justify-content: flex-end;
    }
    nav ul {
        display: flex;
    }
    nav li {
        display: inline-block;
    }
    nav a {
        font-size: 1.4em;
        padding: 20% 40px;
    }
    .searchbox {
        float: right;
        display: block;
    }
    aside {
        display: grid;
        grid-gap: 20px;
        grid-template-areas: 
        'aside-section-one aside-section-one aside-section-one'
        'aside-section-two aside-section-three aside-section-four'
        'aside-section-five aside-section-six aside-section-seven'
        ;
    }
}
/* Extra Large Screens-------------*/
@media only screen and (min-width: 1281px) {
    body {
      margin: 0 17%;
    }
}
/* 
-------------*/
/* 
-------------*/