/* General Styles
---------------*/
body {
    font-family: 'Din Condensed', sans-serif, Arial;
    background-color: #F2ECE9;
}
@font-face {
    font-family: 'Din Condensed';
    src: url('https://use.typekit.net/hft0bgo.css')
}

/*  Header and Nav Bar
----------------*/
header {
  background: #F2ECE9;
  min-height: 108px;
}
nav, #hamburger-menu {
  display: none;
}
nav ul {
  padding: 0px;
}
nav li {
  display: block;
}
nav a {
  font-size: 1em;
  text-decoration: none;
  color:#0A3641;
  padding: 10px;
  display: block;
}
nav a:hover {
    color: #F2ECE9;
    background-color: #48736F;
}
.current {
  text-decoration: underline;
}

/* Hamburger Menu
-------------*/
.hamburger-label {
  float: right;
  color: #0A3641;
  padding: 10px;
  font-size: 1.5em;
  display: block;
}
#hamburger-menu:checked ~ nav {
  display: block;
}


/* Search Box
-------------*/
.search-bar {
  display: none;
  flex: 1;
  margin: 10px;
/*  background-color: lawngreen; */
}

form.searchbox button {
    float: right;
    margin-right: 15px;
    width: 40px;
    padding: 10px;
    background: #f2ece9;
    color: #48736F;
    font-size: 16px;
    border: 1px solid #48736F;
    cursor: pointer;
  }
form.searchbox input[type=text] {
    float: right;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #48736F;
    width: 80px;
    background: #f2ece9;
  }
  form.searchbox button:hover {
    color: #f2ece9;
    background: #48736F;
  }

  /* Slogan Image on the homepage
-------------*/
.slogan-banner {
  display: flex;
  background-image: url(images/Slogan-header-image-small.jpg);
  background-position: center;
  background-color: #48736F;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px;
  margin: 10px;
}

  /* Jackets Button on the homepage
-------------*/
.jackets-button {
  border: 2px solid #48736F;
  display: flex;
  background-image: url(images/all-jackets-banner-mobile.jpg);
  background-position: center;
  background-color: #48736F;
  height: 140px;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px;
  margin: 10px;
}

  /* Men and womens Link buttons on the homepage
-------------*/

.link-container {
  display: flex;
  flex-direction: column;
}

.button {
  flex: 1;
  padding: 10px;
  margin: 10px;
}



.womens {
  border: 2px solid #48736F;
  background-image: url(images/womens-jackets-background.jpg);
  background-position: center;
  background-color: #48736F;
  height: 140px;
  background-size: cover;
  background-repeat: no-repeat;
}

.mens {
  border: 2px solid #48736F;
  background-image: url(images/mens-jackets-background.jpg);
  background-position: left;
  background-color: #48736F;
  height: 140px;
  background-size: cover;
  background-repeat: no-repeat;
}

  /* Men and womens Link buttons on the homepage
-------------*/
.first3products {
  display: flex;
  flex-direction: column;
}
.bs {
  border: 2px solid #48736F;
  flex: 3;
  padding: 10px;
  margin: 10px;
}

.last3products {
  display: flex;
  flex-direction: column;
}



  /* Tablet to Regular screen size
-------------*/
@media only screen and (min-width: 641px) {
  .logo {
    float: left;
  }
  nav {
    display: inline-block;
  }
  .hamburger-label {
    display: none;
  }
  ul {
    display: flex;
  }
  li {
    display: inline-block;
  }
  nav a {
    font-size: 1.2em;
    padding: 20px 40px;
  }
  .search-bar {
    display: flex;
  }
  .link-container {
    flex-direction: row;
  }
  .slogan-banner {
    background-image: url(images/Slogan-header-image.jpg);
    height: 350px;
  }
  .jackets-button {
    background-image: url(images/all-jackets-banner.jpg);
    height: 240px;
  }
  .womens {
    height: 240px;
  }
  .mens {
    height: 240px;
  }
  .first3products {
    flex-direction: row;
  }
  .last3products {
    flex-direction: row;
  }
}


  /* Extra Large screen size
-------------*/
@media only screen and (min-width: 1281px) {

  body {
    margin: 0 10%;
  }
  
}