/* General Styles
---------------*/
body {
    font-family: 'Din Condensed', sans-serif, Arial;
}
@font-face {
    font-family: 'Din Condensed';
    src: url('https://use.typekit.net/hft0bgo.css')
}

/*  Header and Nav Bar
----------------*/
header {
    background: #F2ECE9;
    min-height: 180px;
}

nav {
    text-align: right;
    width: 100%;
}
nav li {
    display: inline-flex;
    margin-top: 35px;
}

nav a {
    display: flex;
    text-decoration: none;
    color: #0A3641;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 400;
    padding: 20px;
}

nav a:hover {
    color: #F2ECE9;
    background-color: #48736F;
}
.logo:hover {
    background-color: #F2ECE9;
}
.logo {
    margin-left: 15px;
    margin-top: 15px;
    float: left;
}
nav ul {
    padding: 0px;
}

.current {
    text-decoration: underline;
}


/* Search Box
-------------*/
form.searchbox button {
    float: right;
    margin-right: 15px;
    width: 40px;
    padding: 10px;
    background: #f2ece9;
    color: #48736F;
    font-size: 16px;
    border: 1px solid #48736F;
    cursor: pointer;
  }
form.searchbox input[type=text] {
    float: right;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #48736F;
    width: 80px;
    background: #f2ece9;
  }
  form.searchbox button:hover {
    color: #f2ece9;
    background: #48736F;
  }

  /* Slogan Image on the homepage
-------------*/

  /* Mobile settings
-------------*/

  /* Tablet and laptop settings
-------------*/

  /* Computer settings
-------------*/

