@font-face {
    font-family: 'Din Condensed';
    src: url('https://use.typekit.net/hft0bgo.css')
}

header {
   padding-left: 25px; 
   padding-top: 50px;
   float: left;
}
body {
    background-color: #F2ECE9;
    font-family: 'din-condensed', sans-serif, Trebuchet;
    font-size: 20pt;
    font-weight: 300;
    font-style: normal;
    color: #48736F;
}
h1{
    font-family: 'din-condensed', sans-serif, Trebuchet;
    font-size: 42pt;
    text-transform: uppercase;
    font-weight: 400;
    font-style: normal;
    color: #0A3641;
}
h2{
    font-family: 'din-condensed', sans-serif, Trebuchet;
    font-size: 28pt;
    text-transform: uppercase;
    font-weight: 400;
    font-style: normal;
    color: #657351;  
}
nav li {
    display: inline-block;
}
nav a {
    color: #0A3641;
    font-family: 'din-condensed', sans-serif, Trebuchet;
    font-size: 30pt;
    text-transform: uppercase;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    padding: 90px;
}
nav a:hover {
    background-color: #48736F;
    color: #F2ECE9;
}
nav ul {
    padding-left: 300px;
}
nav li::before {
    content: '|';
    color: #0A3641;
    font-size: 42pt;
}

.button{
    background-color: #F2ECE9;
    border: none;
    color: #657351;
    padding: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

footer::before, footer::after{
    content: '/';
}