@font-face {
    font-family: 'Din Condensed';
    src: url('https://use.typekit.net/hft0bgo.css')
}

header {
   padding-left: 50px; ;
}
body {
    background-color: #F2ECE9;
    font-family: 'DIN Condensed Light', sans-serif, Verdana;
    font-size: 20pt;
    font-weight: normal;
    color: #48736F;
}
h1{
    font-family: 'DIN Condensed Regular', sans-serif, Verdana;
    font-size: 42pt;
    text-transform: uppercase;
    font-weight: normal;
    color: #0A3641;
}
nav li {
    display: inline-block;
}
nav a {
    color: #0A3641;
    font-family: 'DIN Condensed Regular', sans-serif, Verdana;
    font-size: 30pt;
    text-transform: uppercase;
    font-weight: normal;
    text-decoration: none;
    padding: 0px;
}
nav a:hover {
    background-color: #48736F;
    color: #F2ECE9;
}
nav ul {
    padding-left: 100px;
}
nav li::before, nav::after{
    content: '|';
    color: #0A3641;
    font-size: 42pt;
}

footer::before, footer::after{
    content: '/';
}