/* CSS GRID Jacketspage
-------------*/
body {
    min-height: 100vh;
    display: grid;
    grid-gap: 10px;
    padding: 10px;
    grid-template-areas: 
    'header'
    'main'
    'aside'
    'footer'
    ;
}
main {
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 
    'home-section-one'
    'home-section-two'
    ;
}
aside {
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 
    'aside-section-one'
    'aside-section-two'
    'aside-section-three'
    'aside-section-four'
    'aside-section-five'
    'aside-section-six'
    'aside-section-seven'
    'aside-section-eight'
    'aside-section-nine'
    ;
}

header{grid-area: header;}
main{grid-area: main;}
.home-section:nth-child(1){grid-area: home-section-one;}
.home-section:nth-child(2){grid-area: home-section-two;}
aside{grid-area: aside;}
.aside-section:nth-child(1){grid-area: aside-section-one;}
.aside-section:nth-child(2){grid-area: aside-section-two;}
.aside-section:nth-child(3){grid-area: aside-section-three;}
.aside-section:nth-child(4){grid-area: aside-section-four;}
.aside-section:nth-child(5){grid-area: aside-section-five;}
.aside-section:nth-child(6){grid-area: aside-section-six;}
.aside-section:nth-child(7){grid-area: aside-section-seven;}
.aside-section:nth-child(8){grid-area: aside-section-eight;}
.aside-section:nth-child(9){grid-area: aside-section-nine;}
footer{grid-area: footer;}

/* Title Banner styling
-------------*/
.womens-button {
  background-image: url(images/womens-jackets-banner.jpg);
  background-position: center;
  background-color: #48736F;
  height: 140px;
  min-width: 300px;
  max-width: 1000px;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: right;
}

/* Best Seller link styling
-------------*/
.aside-section {
    width: 100%;
    height: 100%;
}
.bs-img {
    border: 2px solid #48736F;
    width: 100%;
    height: 80%;
    margin: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.jacket-name {
    margin: 0;
    display: inline-block;
}
.price-tag {
    margin: 0;
    display: inline-block;
}
/* Jacket page links styling
-------------*/
.product-page-links {
    text-decoration: none;
    color: #48736F;
    padding: 0;
    width: 200px;
}
.product-page-links:hover {
    text-transform: uppercase;
}
.back-arrow {
    float: left;
    font-size: 1.5em;
    padding: 0 10px 0 0;
}
/* Tablet and smaller screen sizes-------------*/
@media(min-width: 641px){
    main {
        display: grid;
        grid-gap: 20px;
        grid-template-areas: 
        'home-section-one'
        'home-section-two'
        ;
    }
    aside {
        display: grid;
        grid-gap: 20px;
        grid-template-areas: 
        'aside-section-one aside-section-two'
        'aside-section-three aside-section-four'
        'aside-section-five aside-section-six'
        'aside-section-seven aside-section-eight'
        'aside-section-nine zero'
        ;
    }
    .womens-button {
        height: 140px;
    }
}
/*  Desktop screen sizes-------------*/
@media(min-width: 801px){
    .searchbox {
        float: right;
        display: block;
    }
    aside {
        display: grid;
        grid-gap: 20px;
        grid-template-areas: 
        'aside-section-one aside-section-two aside-section-three'
        'aside-section-four aside-section-five aside-section-six'
        'aside-section-seven aside-section-eight aside-section-nine'
        ;
    }
}
/* Extra Large Screens-------------*/
@media only screen and (min-width: 1281px) {
    body {
      margin: 0 17%;
    }
}
/* 
-------------*/
/* 
-------------*/